/* CÓDIGOS GENERALES */
* {
    font-family: 'Source Sans Pro', sans-serif;
    list-style-type: none;
}

a{
    color: #fff;
    text-decoration: none;
}

body {
    margin: 0;
}

h1 {
    font-family: 'Poppins', sans-serif;
}

h2 {
    font-family: 'Poppins', sans-serif;
}

h3 {
    font-family: 'Poppins', sans-serif;
}

/**************************************************/

.hero
{
    background: linear-gradient(45deg, #c86dd7, #3023ae);
}

.hero-inner
{
    max-width: 1400px;
    margin: auto;
    padding-bottom: 122px;
}

.header {
    color: #fff;
    width: 1400px;
    display: flex;
    flex-direction: row;
}


/* Logo RELAP */
.logo {
    margin-top: 21px;
    font-size: 48px;
    margin-right: 307px;
    font-weight: 700;
    padding-left: 135px;
}
/*Fin logo RELAP */


/*Menú de navegación*/
.menuNav {
    float: right;
    margin-right: 135px;
}

nav{
    font-style: normal;
    font-size: 16px;
    float: right;
    margin-top: 15px;
    width: 600px;
}

nav ul {
    width: 700px;
}

nav li {
    display: inline-block;
    margin-right: 24px;
}

nav a{
    text-decoration: none;
}

.contactUs {
    font-weight: 700;
    margin-left: 46px;
    padding: 12px 48px;
    box-sizing: border-box;
    color: #fff;
    border-radius: 24px;
    text-decoration: none;
    border: 1px solid rgba(255, 255, 255, 0.295063);
} 
/*Fin menú de navegación*/



.blockIntro {
    color: #fff;
    display: flex;
    flex-direction: row;
    position: relative;
    margin: 0 135px;
}

/* G R A D I E N T
    background: linear-gradient(224.72deg, #3023AE -1%, #C86DD7 100.5%);
*/


/* TEXTO PRINCIPAL */
.blockTextIntro {
    width: 50%;
    display: flex;
    align-items: center;
}


    .subTitle {
        text-transform: uppercase;
        font-size: 16px;
    } 

    /* Título H1 */
    .mainTitle {
        width: 498px;
        font-size: 72px;
        font-weight: bold;
        line-height: 72px;
        margin-bottom: 34px;
        margin-top: 23px;
    } 
    /*Fin título */


    /* Párrafo */
    .blockTextIntro p {
        width: 570px;
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 34px;
    }
    /*Fin párrafo */


    /* Botón explore */
    #explore { 
        padding: 12px 58px;
        background-color: #FFC300;
        color: #fff;
        border-radius: 24px;
        text-decoration: none;
        font-weight: bold;
        text-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    }
    /*Fin botón explore */

/* FIN TEXTO PRINCIPAL */



.speaker {
    width: 50%;
    text-align: center;
}



/*          SEGUNDA PARTE           */

.segundaParte {
    max-width: 1200px;
    margin: 144px auto;
    display: flex;
    flex-direction: row;
    position: relative;
    color: #333333;
}


/*      BLOQUE IMAGEN      */
/* IMAGEN VIDEO SEGUNDA PARTE*/
#video {
    position: relative;
    margin: auto;
}


/*      BLOQUE TEXTO       */
.blockText {
    width: 50%;
    display: flex;
    align-items: center;
    right: 0px;
    margin-left: 8.54%;
}

    .blockText h3{
        text-transform: uppercase;
        font-weight: bold;
        font-size: 16px;
    }

    .blockText h1{
        width: 340px;
        font-weight: bold;
        font-size: 56px;
        margin-bottom: 39px;
        margin-top: 18px;
        line-height: 64px;
    }

    .blockText p{
        width: 470px;
        margin-bottom: 38px;
    }

/*     FIN BLOQUE TEXTO    */

/* BOTONES SEGUNDA PARTE*/
#discover {
    padding: 12px 58px;
    background-color: #C86DD7;
    color: #fff;
    border-radius: 24px;
    text-decoration: none;
    margin-right: 30px;
    margin-top: 39px;
}

#contactUsBlock {
    padding: 12px 58px;
    border: 1px solid #C86DD7;
    color: #C86DD7;
    border-radius: 24px;
    text-decoration: none;
    margin-top: 39px;
}
/* FIN BOTONES SEGUNDA PARTE*/











/*          TERCERA PARTE          */

.terceraParte {
    background-color: #FDF2FF;
    padding: 64px 135px;
}


.terceraParte ul{
    display: flex;
    flex-direction: row;
    position: relative;
    max-width: 1400px;
    margin: auto;
}

.terceraParte li{
    width: 425px;
    margin-right: 35px;
    background: #FFFFFF;
    box-shadow: 16px 16px 48px rgba(0, 0, 0, 0.0994678);
    border-radius: 3px;
    display: flex;
    align-items: center;
    padding: 1.5em;
}


.terceraParte h3 {
    font-weight: bold;
    font-size: 24px;    
    color: #212121;
}

.terceraParte p {
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.01em;
    color: #646464;
}

.terceraParte img {
    height: 64px;
}


/*          CUARTA PARTE          */

.cuartaParte {
    max-width: 1200px;
    margin: 144px auto;
    display: flex;
    flex-direction: row;
    position: relative;
    color: #333333;
}



.blockText4 {
    width: 50%;
    display: flex;
    align-items: center;
}

.blockText4 p {
    width: 470px;
    mix-blend-mode: normal;
    opacity: 0.5;
}

.blockText4 h1 {
    width: 385px;
    font-size: 56px;
    line-height: 64px;
}

.blockText4 h3 {
    font-family: Source Sans Pro;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
}

.blockText4 #subTitle {
    text-transform: uppercase;
    font-weight: 600;
}

.imagenReloj {
    width: 50%;
}



/*  texto con flecha  */
#textArrow {
    display: flex;
    flex-direction: row;
    align-items: center;
}

/*  Icono flecha  */
#arrow {
    margin-left: 10px;
}

#rectangle {
    position: absolute;
    z-index: -1;
    top: 405px;
    left: 135px;
}




/*          QUINTA PARTE          */
.quintaParte {
    background: #FDF2FF;
    padding: 60px 135px;
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: center;
    color: #333333
}

.blockText5 {
    display: flex;
    flex-direction: column;
    text-align: center;
}


/* Título */
.blockText5 h1 {
    margin-top: 0px;
    margin-bottom: 23px;
    font-size: 56px;
}

/* Subtítulo */
.blockText5 h3 {
    margin-top: 0px;
    margin-bottom: 18px;
}

/* Párrafo */
.blockText5 p {
    width: 570px;
    margin: 1em auto;
    font-size: 16px;
    line-height: 24px;
    opacity: 0.5;
}

/* Images */

.blockImages5 {
    display: table;
    border-collapse:separate;
    border-spacing:32px;
    margin: auto;
}

.blockImages5 > div {
    width: 370px;
    height: 320px;
    color: white;
    margin: 0 32px;
    display: table-cell;
    vertical-align: middle;
    transition: all 200ms ease;
}

.blockImages5 > div:hover {
    font-size: 1.2em;
}

div.primero {
    background-image: url(../images/1.png);
}
div.primero:hover {
    background:linear-gradient(0deg, rgba(191, 0, 255, 0.3), rgba(191, 0, 255, 0.3)), url(../images/1.png);
}

div.segundo {
    background: url(../images/2.png);
}
div.segundo:hover {
    background:linear-gradient(0deg, rgba(191, 0, 255, 0.3), rgba(191, 0, 255, 0.3)), url(../images/2.png);
}

div.tercero {
    background-image: url(../images/3.png);
}
div.tercero:hover {
    background:linear-gradient(0deg, rgba(191, 0, 255, 0.3), rgba(191, 0, 255, 0.3)), url(../images/3.png);
}


#exploreMore {
    width: 170px;
    padding: 12px 38.5px;
    border: 1px solid #C86DD7;
    color: #C86DD7;
    border-radius: 24px;
    text-decoration: none;
    margin: 48px auto 0 auto;
}


/*          SEXTA PARTE          */

.sextaParte {
    background: linear-gradient(224.72deg, #3023AE -1%, #C86DD7 100.5%);
    padding: 77px 135px;
}

.blockText6 {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: 9%;
}

/* Título */
.blockText6 h1 {
    width: 878px;
    font-size: 56px;
    color: #FFFFFF;
    margin: 1em auto;
}

.blockText6 h3 {
    color: #FFFFFF;
}


/* Cuadrados blanco con info */
.listaUl p {
    opacity: 0.5;
}

.list ul{
    padding: 64px 135px;
    display: flex;
    flex-direction: row;
    position: relative;
    max-width: 1400px;
    margin: auto;
}


.sextaParte ul{
    display: flex;
    flex-direction: row;
    position: relative;
    max-width: 1440px;
    margin: auto;
}

.sextaParte li{
    width: 370px;
    margin-right: 35px;
    background: #FFFFFF;
    box-shadow: 16px 16px 48px rgba(0, 0, 0, 0.0994678);
    border-radius: 3px;
    padding: 64px 32px;
    text-align: center;
}

.sextaParte li img {
    margin: 0px;
    margin-bottom: 20px;
}

.sextaParte li h3 {
    margin: 0px;
    margin-bottom: 10px;
}

.sextaParte li p {
    margin: 0px;
}

#imgOval {
    float: right;
    position: relative;
    top: -100px;
}

#ovalGrande {
    width: 323px;
    border-radius: 300px;
    background: linear-gradient(224.72deg, #3023AE -1%, #C86DD7 100.5%);
    float: right;
}

#ovalSmall {
    width: 140px;
    border-radius: 300px;
    background: linear-gradient(224.72deg, #3023AE -1%, #C86DD7 100.5%);;
}


/*          SÉPTIMA PARTE          */

.septimaParte {
    max-width: 1440px;
    margin: 60px auto;
}


.septimaParte h1 {
    width: 877px;
    font-size: 56px;
    color: #333333;    
}

.blockText7 h1{
    margin: 0;
}

.text7 {
    margin-left: 135px;
}

/*    Carrusel    */
/* Máscara */
.seccion {
    width: 1200px;
    margin: auto;
    border-radius: 20px;
    /* OVERFLOW = MÁSCARA. Todo lo que desborda, lo esconde.*/
    overflow: hidden;
}

.carrusel {
    display: flex;
    padding: 0px;
    /* transición smooth */
    transition: all 500ms ease;
}

.carrusel li {
    box-shadow: 16px 16px 48px rgba(0, 0, 0, 0.0994678);
    width: 570px;
    margin-right: 30px;
    padding: 32px;
    margin-bottom: 48px;
}

.carrusel li img {
    width: 200px;
}

.carrusel h2 {
    font-size: 14px;
}

.paginador {
    text-align: center;
}

.carrusel p {
    width: 506px;
    opacity: 0.5;
    line-height: 24px;
}

.blockTextCarrusel {
    display: flex;
    flex-direction: row;
}


.blockTitle {
    display: flex;
    flex-direction: column;
}

.blockTitle h2{
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 9px ;
}

.blockTitle h3{
    font-family: Source Sans Pro;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    margin: 0px;
}


/*          OCTAVA PARTE          */

.octavaParte {
    padding: 60px 135px;
    background-color: #FDF2FF;
    text-align: center;

}


    /* Título */
    .blockText8 h1 {
        font-size: 56px;
        color: #333;
        margin-top: 18px;
        margin-bottom: 72px;
    }

    .blockText8 h3 {
        color: #333;
        text-align: center;
    }

    .octavaParte ul{
        display: flex;
        flex-direction: row;
        position: relative;
        max-width: 1215px;
        margin: auto;
    }

    .octavaParte li{
        width: 370px;
        height: 438px;
        background: #FFFFFF;
        margin-right: 35px;
        box-shadow: 16px 16px 48px rgba(0, 0, 0, 0.0994678);
        border-radius: 3px;
    }



    #p7 {
        width: 370px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: baseline;
        margin-top: 52px;
    }

    #p7 h1{
        margin: 0px;
        font-size: 72px;
    }

    #p7 p{
        font-size: 16px;
    }




    #p19 {
        width: 370px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: baseline;
        margin-top: 52px;
    }

    #p19 h1{
        margin: 0px;
        font-size: 72px;
    }

    #p19 p{
        font-size: 16px;
    }





    #p99 {
        width: 370px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: baseline;
        margin-top: 52px;
    }

    #p99 h1{
        margin: 0px;
        font-size: 72px;
    }

    #p99 p{
        font-size: 16px;
    }





    .blockText8 ul {
        padding: 0px;
    }


    .octavaParte ul li ul {
        display: flex;
        flex-direction: column;
        padding: 0px;
        margin-bottom: 42px;
    }

    .octavaParte ul li ul li{
        box-shadow: none;
        background: none;
        line-height: 24px;
        margin-bottom: 8px;
        text-align: center;
        height: auto;
        opacity: 0.5;
    }

 



    #plan19 {
        background: linear-gradient(45deg, #c86dd7, #3023ae);
    }

    #plan19 h1 {
        color: #FFFFFF;
    }

    #plan19 p {
        color: #FFFFFF;
    }
    
    #plan19 h2 {
        color: #FFFFFF;
        margin: 0px;
        margin-bottom: 25px;
    }
    
    #plan19 ul li {
        color: #FFFFFF;
    }
    
    #plan7 h2 {
        margin: 0px;
        margin-bottom: 25px;
    }
    #plan99 h2 {
        margin: 0px;
        margin-bottom: 25px;
    }
    



    /* Botones  */
    #BuyPlanYellow { 
        padding: 12px 58px;
        background-color: #FFC300;
        color: #fff;
        border-radius: 24px;
        text-decoration: none;
        margin-top: 40px;
        margin-bottom: 48px;
        font-weight: bold;
        text-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    }

    #BuyPlan {
        width: 170px;
        padding: 12px 38.5px;
        border: 1px solid #C86DD7;
        color: #C86DD7;
        border-radius: 24px;
        margin-top: 40px;
        margin-bottom: 48px;
    }
    /* Fin botones  */
/* FIN PARTE */




/*          NOVENA PARTE          */

.novenaParte {
    max-width: 1100px;
    margin: 76px auto;
}

.novenaParte h1 {
    font-size: 56px;
    margin-top: 18px;
    margin-bottom: 62px;
}

.novenaParte p {
    font-size: 16px;
    mix-blend-mode: normal;
    opacity: 0.5;
}

#blockInfo {
    display: flex;
    flex-direction: row;
}

.blockInfoText {
    width: 270px;
    margin-right: 30px;
}

.blockInfoContainer {
    display: table;
}

.blockInfoContainer > img {
    display: table-cell;
}

.novenaParte img {
    margin: 50px 64px 0 0;
}


/*   Contact Form   */
.contactForm {
    width: 290px;
    background: #FFFFFF;
    padding: 37px 32px 48px 32px;
    border-radius: 3px;
    box-shadow: 16px 16px 48px rgba(0, 0, 0, 0.0994678);
    display: table-cell;
}


#fname  {
    padding: 12px 127px 12px  16px;
    border: 1px solid #DADADA;
    border-radius: 3px;
    box-sizing: border-box;
    resize: vertical;
}

#emailContactForm {
    padding: 12px 127px 12px  16px;
    border: 1px solid #DADADA;
    border-radius: 3px;
    box-sizing: border-box;
    resize: vertical;
    margin-top: 16px;
}

#subjectContactForm {
    height: 96px;
    padding: 12px 127px 12px  16px;
    border: 1px solid #DADADA;
    border-radius: 3px;
    box-sizing: border-box;
    margin-top: 16px;
    resize: vertical;
}

form.contactForm input {
    background: #FFFFFF;
    width: 100%;
}

    /*   Tecla "Send"   */
form.contactForm input[type=submitContactForm] {
        background: #C86DD7;
        border-radius: 24px;
        color: white;
        padding: 12px 0;
        border: none;
        cursor: pointer;
        text-align: center;
        margin-top: 32px;
    }
/*  End contact form  */



/*          DÉCIMA PARTE          */

.decimaParte {
    background:linear-gradient(0deg, rgba(191, 0, 255, 0.3), rgba(191, 0, 255, 0.3)), url(../images/foto.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 44px 0;
}

.blockText10 {
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.blockText10 h1 {
    font-size: 56px;
    margin-bottom: 0;
}

.blockText10 p {
    margin: 16px 412px;
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}

#register { 
    width: 230px;
    padding: 12px 0px;
    background-color: #FFC300;
    color: #fff;
    border-radius: 24px;
    text-decoration: none;
    margin: 16px auto 64px auto;
    font-weight: bold;
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}




/*          F O O T E R          */

footer {
    padding: 62px 70px 62px 135px;
    background: linear-gradient(45deg, #c86dd7, #3023ae);
}

footer ul {
    padding: 0px;
}

footer ul li{
    color: #FFFFFF;
    line-height: 24px;
    margin-bottom: 8px;
    opacity: 0.5;
}

footer > div {
    max-width: 1440px;
    margin: auto;
}

.blockLista {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.lista ul {
    margin-bottom: 58px;
}


#main {
    opacity: 100;
}

footer ul {
    display: flex;
    flex-direction: column;
}

.lista {
    width: 790px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.listaFinal {
    width: 297px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.listaFinal li {
    margin: 0px;
    padding: 0px;
}

.listaCopy {
    width: 1170px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.listaCopy ul {
    margin: 0px;
}


.contactFormFinal {
    margin: 32px 0 0;
    width: 320px;
    border-radius: 3px;
    resize: vertical;
    box-sizing: border-box;
}

/*   contacto e-mail   */
input[type=email] {
    width: 214px;
    padding: 12px 127px 12px  16px;
    border: 1px solid #DADADA;
    border-radius: 3px;
    box-sizing: border-box;
    resize: vertical;
    float: left;
    height: 48px;
}

#contact-form button {
    border-radius: 50px 50px;
    float: left;
    font-size: 30px;
    width: 48px;
    height: 48px;
    border: 2px solid #FFC300;
    background-color: #FFC300;
    color: #fff;
    font-family: monospace;
    font-weight: bold;
    margin: 0 14px;
}

/*   divider   */
hr.solid {
    border-top: 1px solid #FFFFFF;
    opacity: 0.1;
    margin-bottom: 30px;
    margin-top: 0px;
}

/*   Copyright   */
footer p {
    margin: 0px;
    color: #FFFFFF;
    opacity: 0.5;
}





